doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Daytona Zombie Hunt
    link(rel='stylesheet' href='/style.css')
  body
    
    .Overlay(id='game-over-overlay' style='display:none')

    .GameOver(id='game-over' style='display:none')
      h1 Game Over!

      form.Form(id='highschore-form')
        input(type='text' placeholder='Skriv ditt namn!' id='highschore-name')
        button.Button(type='submit') Skicka

      button.Button(id='play-again') Spela igen

    .Score
      p Poäng: 
        span(id='score')

    .Alert(id='alert')

    button.Button(id='show-dialog') Instruktioner

    dialog.Dialog(id='dialog')
      .Dialog-info
        h1 Instruktioner
        p Skjut på zombiehipsters!
        p Använd piltangenterna för att röra dig och mellanslag för att skjuta.
      
      
      .Dialog-highscores
        h2 Top 10 Highscore
        table(id='highscore-table')
          thead
            tr
              th Namn
              th Poäng
              th Datum
          tbody
          if highscore
            each score in highscore
              tr
                td #{score.name}
                td #{score.score}
                td #{score.niceDate}

      menu
        button.Button(id='close-dialog') Stäng
        


    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='js/resources.js')
    script(src='js/input.js')
    script(src='js/sprite.js')
    script(src='js/client.js')