doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Daytona Zombie Challenge
    link(rel='stylesheet' href='/css/style-min.css')
  body



    .Alert.js-alert



    aside.Footer(id='footer')
      .Footer-playing
        p.js-playing
      .Footer-score
        p Poäng:
          span.js-score  0
      .Footer-info
        button.Button.js-showDialog Instruktioner &amp; Highscore
        button.Button.js-pauseButton(style='margin-left:15px') Pausa



    .GameOver.js-gameOver(style='display:none')
      h1 Game Over!

      form.Form(id='highschore-form')
        input(type='text' placeholder='Skriv in ditt namn!' id='highschore-name')
        button.Button(type='submit') Skicka

      button.Button.js-playButton Spela igen



    .Dialog.js-dialog(id='dialog' style='display:none')
      .Dialog-info
        h1 Instruktioner
        p Akta dig för zombies!!
        p Använd piltangenterna och skjut med mellanslag!

      .Dialog-highscores
        h2 Top 10 Highscore
        table(id='highscore-table')
          thead
            tr
              th Namn
              th Poäng
              th Datum
          tbody
          if highscore
            each score in highscore
              tr
                td #{score.name}
                td #{score.score}
                td #{score.niceDate}

      button.Dialog-close.Button.js-closeDialog Stäng



    script(src='/socket.io/socket.io.js')
    script(src='/js/main-min.js')
