@custom-media --sm-viewport (min-width: 400px);
@custom-media --md-viewport (min-width: 800px);
@custom-media --lg-viewport (min-width: 1280px);

:root {
  --color-green: #6cc055;
  --color-blue: #007ec6;
  --color-red: #ed1f27;
  --color-yellow: #ffc000;
  --color-orange: #ff710f;
  --color-purple: rebeccapurple;
  --color-pink: #ff9daa;
  --color-brown: #433840;

  --color-text: #222;
  --color-gray: #95a8ad;

  --color-green-active: #5fa94b;
}





@import "suitcss";


@import "base";


@import "components/overlay";

@import "components/button";

@import "components/intro";

@import "components/alert";

@import "components/footer";

@import "components/dialog";

@import "components/form";

@import "components/canvas";

@import "components/character";






.GameOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  
  max-width: 450px;
  width: 95%;

  text-align: center;
  padding: 15px;

  background: #fff;
  background: rgba(255,255,255,.9);
}
.GameOver h1 {
  font-size: 2em;
}
.GameOver button {
  margin-top: 1em;
}

@media (min-width: 600px) {
  .GameOver {
    min-width: 450px;
  }
}


