
.Button--green {
  background: var(--color-green);
  color: #fff;
}

.Button--green:hover {
  background: var(--color-green-active);
}



.Button--round {
  padding: 1em 2em;
  border-radius: 2em;
}




.Button[disabled] {
  opacity: .5;
  pointer-events: none;
}