:root {
  --color-green: #6cc055;
  --color-green-active: #5fa94b;
}



* {
  box-sizing: border-box;
  font-family: monospace;
  font-size: 100%;
  line-height: 1.5;
  color: #111;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

input,
button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
}



.Button {
  background: #6cc055;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;

  transition: background 200ms ease;
  -webkit-transition: background 200ms ease;
}

.Button:hover,
.Button:active {
  outline: none;
  background: #5fa94b;
}



.Alert {
  position: absolute;
  top: 0;
  left: 0;

  max-width: 500px;

  padding: 10px 15px;
  background: #6cc055;
  color: #fff;

  opacity: 0;
  transform: translateY(-40px);
  transition: opacity 400ms ease 400ms, transform 400ms ease 400ms;

  -webkit-transform: translateY(-40px);
  -webkit-transition: opacity 400ms ease 400ms, transform 400ms ease 400ms;
}
.Alert.is-active {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

@media (min-width: 600px) {
  .Alert {
    min-width: 200px;
    top: 15px;
    left: 15px;
  }
}





.Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;

  background: #fff;
  border-top: 1px solid #eee;
  padding: 15px;
  text-align: center;
}

.Footer-playing,
.Footer-score {
  margin-bottom: 15px;
}

.Footer-score {
  min-width: 200px;
}

@media (min-width: 600px) {
  .Footer > div {
    vertical-align: middle;
    display: inline-block;
    margin: 0 15px;
  }
}







.GameOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 2;
  
  max-width: 450px;
  width: 95%;

  text-align: center;
  padding: 15px;

  background: #fff;
  background: rgba(255,255,255,.9);
}
.GameOver h1 {
  font-size: 2em;
}
.GameOver button {
  margin-top: 1em;
}

@media (min-width: 600px) {
  .GameOver {
    min-width: 450px;
  }
}






.Form {
  margin: 1em 0;
}
.Form input,
.Form button {
  border-radius: 0;
  margin: 0;
  min-width: 150px;
}
.Form input {
  background: #fff;
  color: #111;
  padding: 1em 2em;
}

::-webkit-input-placeholder {
   color: #333;
}
:-moz-placeholder { /* Firefox 18- */
   color: #333;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #333;  
}
:-ms-input-placeholder {  
   color: #333;  
}






.Dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  
  padding: 30px;
  border: 5px solid #000;
  background: white;
  color: black;
}

.Dialog h1 {
  font-size: 2em;
  font-weight: 600;
}

.Dialog h2 {
  font-size: 1.5em;
  font-weight: 600;
}

.Dialog-highscores {
  margin-top: 1em;
}

.Dialog-open {
  
}
.Dialog-open:hover {
  opacity: 1;
}

.Dialog-close {
  float: right;
}


.Dialog-highscores table {
  text-align: left;
  width: 100%;
}

.Dialog-highscores th {
  font-weight: 600;
}