* {
  box-sizing: border-box;
  font-family: monospace;
  font-size: 100%;
  line-height: 1.5;
  color: #111;
  margin: 0;
  padding: 0;
}

input,
button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
}



.Button {
  background: #6cc055;
  color: #fff;
  padding: 1em 2em;
  border-radius: 2em;
  cursor: pointer;

  transition: background 200ms ease;
  -webkit-transition: background 200ms ease;
}

.Button:hover,
.Button:active {
  outline: none;
  background: #5fa94b;
}
.Button:focus {

}






.Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;

  background: #fff;
  border-top: 1px solid #eee;
  padding: 1em;
  
  vertical-align: middle;
  text-align: center;
}

.Footer > div {
  vertical-align: middle;
  display: inline-block;
  margin: 0 5%;
}

.Footer-alert {
  min-width: 200px;
  padding: .5em 1em;

  background: #6cc055;
  color: #fff;

  opacity: 0;
  transform: translateY(0);
  transition: opacity 400ms ease 400ms, transform 400ms ease 400ms;

  -webkit-transform: translateY(0);
  -webkit-transition: opacity 400ms ease 400ms, transform 400ms ease 400ms;
}
.Footer-alert.is-active {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.Footer-score {
}

.Footer-button {
  float: right;
}












.GameOver {
  position: absolute;
  top: 50%;
  left: 50%;

  z-index: 2;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  
  min-width: 450px;
  text-align: center;
  padding: 2em;

  background: #fff;
  background: rgba(255,255,255,.9);
}

.GameOver h1 {
  font-size: 2em;
}

.GameOver button {
  margin-top: 1em;
}






.Form {
  margin: 1em 0;
}
.Form input,
.Form button {
  border-radius: 0;
  margin: 0;
  min-width: 150px;
}


.Form input {
  background: #fff;
  color: #111;
  padding: 1em 2em;
}




.Dialog {
  position: absolute;
  top: 50%;
  left: 50%;

  z-index: 99;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

  padding: 1em;
  border: 5px solid #000;
  background: white;
  color: black;
}



.Dialog {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;

  padding: 0 20px 20px;
  box-sizing: content-box;
}

.Dialog h1 {
  font-size: 2em;
  font-weight: 600;
}

.Dialog h2 {
  font-size: 1.5em;
  font-weight: 600;
}

.Dialog-highscores {
  margin-top: 1em;
}

.Dialog-open {
  
}
.Dialog-open:hover {
  opacity: 1;
}
.Dialog-close {
  float: right;
}

.Dialog-highscores table {
  text-align: left;
  width: 100%;
}

.Dialog-highscores th {
  font-weight: 600;
}

@media (min-width:800px) {
  .Dialog {
    padding: 40px;
  }
}